Source: lliurex-smartcard-udev-fixer
Section: utils
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10), cdbs
Standards-Version: 4.1.2

Package: lliurex-smartcard-udev-fixer
Architecture: all
Depends: ${misc:Depends}, udev
Description: Contains lliurex-smartcard-udev-fixer
 This package contains the : lliurex-smartcard-udev-fixer 
 resources.
